#tabbrowser-tabpanels > hbox:not([zen-split="true"]):not(:has(.zen-glance-background)) {
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35),
    filter 0.45s ease-in-out,
    opacity 0.35s ease-in-out !important;
  transform: scale(0.9) !important;
  opacity: 0 !important;
}

#tabbrowser-tabpanels > hbox.deck-selected:not([zen-split="true"]) {
  transform: scale(1) !important;
  opacity: 1 !important;
}
