apdatifier/.config/apdatifier/updates.json*
apdatifier/.config/apdatifier/news.json

yazi/.config/yazi/plugins/
yazi/.config/yazi/flavors/

hypr/.config/hypr/hypridle.conf*
hypr/.config/hypr/hyprlock.conf*
