apdatifier/.config/apdatifier/updates.json*
apdatifier/.config/apdatifier/news.json

Configs/yazi/.config/yazi/plugins/
Configs/yazi/.config/yazi/flavors/

hypr/.config/hypr/hypridle.conf*
hypr/.config/hypr/hyprlock.conf*

Configs/dms/.config/DankMaterialShell/plugins/
