[submodule "Submodules/catppuccin/yazi"]
	path = Submodules/catppuccin/yazi
	url = https://github.com/catppuccin/yazi
[submodule "Submodules/catppuccin/zen-browser"]
	path = Submodules/catppuccin/zen-browser
	url = https://github.com/catppuccin/zen-browser
[submodule "Submodules/catppuccin/btop"]
	path = Submodules/catppuccin/btop
	url = https://github.com/catppuccin/btop
[submodule "Submodules/catppuccin/ghostty-shaders"]
	path = Submodules/catppuccin/ghostty-shaders
	url = https://github.com/hackr-sh/ghostty-shaders.git
[submodule "Submodules/ghostty-shaders"]
	path = Submodules/ghostty-shaders
	url = https://github.com/hackr-sh/ghostty-shaders.git
[submodule "Submodules/catppuccin/adw"]
	path = Submodules/catppuccin/adw
	url = https://github.com/claymorwan/adw-catppuccin.git
[submodule "Submodules/catppuccin/lazygit"]
	path = Submodules/catppuccin/lazygit
	url = https://github.com/catppuccin/lazygit.git
[submodule "Submodules/catppuccin/monorepo"]
	path = Submodules/catppuccin/monorepo
	url = https://github.com/claymorwan/catppuccin.git
[submodule "Submodules/catppuccin/kvantum"]
	path = Submodules/catppuccin/kvantum
	url = https://github.com/catppuccin/Kvantum.git
[submodule "Submodules/end-4"]
	path = Submodules/end-4
	url = https://github.com/end-4/dots-hyprland.git
