@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/4c2bec61-7f6c-4e5c-bdc6-c9ad1aba1827/vertical-split-tab-groups/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/599a1599-e6ab-4749-ab22-de533860de2c/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/79dde383-4fe7-404a-a8e6-9be440022542/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/a6335949-4465-4b71-926c-4a52d34bc9c0/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/ad97bb70-0066-4e42-9b5f-173a5e42c6fc/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/advanced-tab-groups/userChrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/c9ee0d97-d2d6-40fd-8f85-549fe000b868/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/context-menu-icons/userChrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/f7c71d9a-bce2-420f-ae44-a64bd92975ab/chrome.css";
@import "file:///home/claymorwan/.zen/default/chrome/sine-mods/floating-statusbar/userChrome.css";
